<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSP.mp3Console.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SSP.mp3Console.My.MySettings>
            <setting name="IndexPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IndexName" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectionForeColor" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SelectionBackColor" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="CurrentVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Ranking" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeekDistance" serializeAs="String">
                <value>10%</value>
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value>[NotSet]</value>
            </setting>
            <setting name="LastPlayedSong" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlayedSongPosition" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </SSP.mp3Console.My.MySettings>
    </userSettings>
</configuration>
